.glare-hover {
  width: var(--gh-width);
  height: var(--gh-height);
  background: var(--gh-bg);
  border-radius: var(--gh-br);
  border: 1px solid var(--gh-border);
  overflow: hidden;
  position: relative;
  display: grid;
  place-items: center;
}

.glare-hover::before,
.glare-hover::after {
  content: '';
  position: absolute;
  inset: 0;
  background-repeat: no-repeat;
  background-size: var(--gh-size) var(--gh-size), 100% 100%;
  pointer-events: none;
  transition: background-position var(--gh-duration) ease;
}

/* ::before is for the hover-in effect */
.glare-hover::before {
  background-image: linear-gradient(
    var(--gh-angle),
    hsla(0, 0%, 0%, 0) 60%,
    var(--gh-rgba-hover) 70%,
    hsla(0, 0%, 0%, 0),
    hsla(0, 0%, 0%, 0) 100%
  );
  background-position: -100% -100%;
}

/* ::after is for the hover-out effect */
.glare-hover::after {
   background-image: linear-gradient(
    var(--gh-angle),
    hsla(0, 0%, 0%, 0) 60%,
    var(--gh-rgba-leave) 70%,
    hsla(0, 0%, 0%, 0),
    hsla(0, 0%, 0%, 0) 100%
  );
  background-position: 200% 200%; /* Start off-screen */
}


.glare-hover:hover {
  cursor: pointer;
}

.glare-hover:hover::before {
  background-position: 100% 100%;
}

.glare-hover:not(:hover)::after {
    background-position: -100% -100%;
}
